body {
  margin: 0;
  line-height: normal;
}

.popup-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  inset: 0;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-9xl: 28px;
  --font-size-5xl: 24px;
  --font-size-xs: 12px;
  --font-size-3xs: 10px;
  --font-size-lg: 18px;
  --font-size-29xl: 48px;
  --font-size-xl: 20px;
  --font-size-19xl: 38px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #323334;
  --color-gray-100: #fafafa;
  --color-gray-200: #222;
  --color-gray-300: rgba(255, 255, 255, 0.9);
  --color-gray-400: rgba(0, 0, 0, 0.5);
  --color-gray-500: rgba(255, 255, 255, 0.5);
  --color-gray-600: rgba(0, 0, 0, 0.4);
  --color-sandybrown: #f2994a;
  --color-sienna-100: #a86a3d;
  --color-sienna-200: #7b5136;
  --color-lightgray: rgba(219, 208, 204, 0.8);
  --color-black: #000;
  --color-silver: #c4c4c4;
  --color-darkgray: rgba(170, 170, 172, 0.6);
  --color-tan: rgba(183, 183, 154, 0.6);

  /* Border radiuses */
  --br-8xs: 5px;
}
