.group-child86 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightgray);
  width: 740px;
  height: 290.9px;
}
.image-2-icon1 {
  position: absolute;
  top: 70px;
  left: 57px;
  width: 199px;
  height: 149px;
  object-fit: cover;
}
.rectangle-parent25 {
  position: absolute;
  top: 61px;
  left: -83px;
  width: 740px;
  height: 290.9px;
}
.modern {
  margin-block-start: 0;
  margin-block-end: 6px;
}
.furniture {
  margin: 0;
}
.sale-up-50-container1 {
  position: absolute;
  top: 32px;
  left: 0;
  font-size: var(--font-size-xl);
  color: var(--color-sienna-100);
}
.hot-deals-this1 {
  position: absolute;
  top: 0;
  left: 2px;
  font-weight: 500;
}
.group-child87 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 124px;
  height: 48px;
}
.view-now1 {
  position: absolute;
  top: 16px;
  left: 16px;
  display: inline-block;
  width: 92px;
}
.group-wrapper11,
.rectangle-parent26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 124px;
  height: 48px;
}
.group-wrapper11 {
  top: 137px;
  left: 2px;
  text-align: center;
}
.responsive-mobile-ecommerce-inner,
.sale-up-50-modern-furniture-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 185px;
}
.responsive-mobile-ecommerce-inner {
  top: 114px;
  left: 171px;
  font-size: var(--font-size-sm);
}
.group-child88,
.image-3-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 204px;
}
.group-child88 {
  background-color: var(--color-gray-100);
  width: 636px;
}
.image-3-icon1 {
  width: 203px;
  object-fit: cover;
}
.iny-vintage-chair-container {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 120px;
  height: 52.3px;
}
.group-child89 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 124px;
  height: 48.2px;
}
.view-details3 {
  position: absolute;
  top: 16.1px;
  left: 16px;
  display: inline-block;
  width: 92px;
  height: 16.1px;
}
.rectangle-parent28 {
  position: absolute;
  top: 76.4px;
  left: 0;
  width: 124px;
  height: 48.2px;
  font-size: var(--font-size-sm);
}
.group-wrapper12,
.iny-vintage-chair-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 124px;
  height: 124.6px;
}
.group-wrapper12 {
  top: 40.2px;
  left: 203px;
}
.image-3-parent,
.rectangle-parent27 {
  position: absolute;
  top: 0;
  left: 18px;
  width: 327px;
  height: 204px;
}
.rectangle-parent27 {
  top: 820px;
  left: -19px;
  width: 636px;
  font-size: var(--font-size-xl);
}
.group-child90,
.group-child91 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 188px;
  height: 259px;
  object-fit: cover;
}
.group-child91 {
  top: 0;
  left: 223px;
  width: 189px;
  height: 260px;
}
.group-child92,
.group-child93 {
  position: absolute;
  top: 189px;
  left: 0;
  background-color: var(--color-tan);
  width: 188px;
  height: 71px;
}
.group-child93 {
  left: 223px;
}
.inen2 {
  text-transform: lowercase;
}
.b40 {
  position: absolute;
  top: 28px;
  left: 0;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 71px;
  height: 18px;
}
.linen-beach-towel-group,
.linen-beach-towel-parent1 {
  position: absolute;
  top: 200px;
  left: 14px;
  width: 136px;
  height: 46px;
}
.linen-beach-towel-parent1 {
  left: 238px;
}
.rectangle-parent29 {
  position: absolute;
  top: 464px;
  left: 26px;
  width: 412px;
  height: 260px;
  color: var(--color-white);
}
.hot-deals,
.top-rating1 {
  position: absolute;
  top: 1312px;
  left: 16px;
  font-size: var(--font-size-5xl);
}
.hot-deals {
  top: 412px;
  left: 26px;
  text-transform: uppercase;
}
.responsive-mobile-ecommerce-child,
.responsive-mobile-ecommerce-item {
  position: absolute;
  top: 750.9px;
  left: 164px;
  width: 50px;
  height: 6.3px;
}
.responsive-mobile-ecommerce-item {
  top: 330.8px;
  left: 162px;
}
.responsive-mobile-ecommerce-child1 {
  position: absolute;
  top: 1048px;
  left: -201px;
  width: 577.7px;
  height: 204px;
  object-fit: cover;
}
.responsive-mobile-ecommerce-child2 {
  position: absolute;
  top: 1084px;
  left: 38px;
  background-color: var(--color-gray-300);
  width: 192px;
  height: 139px;
}
.view-details4 {
  position: absolute;
  top: 16px;
  left: 16px;
}
.rectangle-parent30 {
  position: absolute;
  top: 47px;
  left: 14px;
  width: 124px;
  height: 48px;
  font-size: var(--font-size-sm);
}
.bedsheet-sets-group,
.responsive-mobile-ecommerce-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 152px;
  height: 95px;
}
.responsive-mobile-ecommerce-inner1 {
  top: 1106px;
  left: 58px;
  font-size: var(--font-size-xl);
}
.group-child95 {
  position: absolute;
  top: 0;
  left: 0;
  width: 126px;
  height: 158px;
  object-fit: cover;
}
.tray-with-foot-container1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100px;
  height: 45px;
}
.b42,
.group-child96 {
  position: absolute;
  left: 0;
}
.b42 {
  top: 93px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 71px;
  height: 36px;
}
.group-child96 {
  top: 59px;
  width: 90.4px;
  height: 15.1px;
}
.group-wrapper16,
.tray-with-foot-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 129px;
}
.group-wrapper16 {
  top: 14px;
  left: 150px;
}
.rectangle-parent31,
.responsive-mobile-ecommerce-child3 {
  position: absolute;
  top: 1364px;
  left: 16px;
  width: 250px;
  height: 158px;
}
.responsive-mobile-ecommerce-child3 {
  top: 1557px;
  width: 126px;
  object-fit: cover;
}
.small-bamboo-box-container1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 149px;
  height: 44px;
}
.b43,
.group-child97 {
  position: absolute;
  left: 0;
}
.b43 {
  top: 92px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 71px;
  height: 36px;
}
.group-child97 {
  top: 58px;
  width: 90.4px;
  height: 15.1px;
}
.responsive-mobile-ecommerce-inner2,
.small-bamboo-box-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 149px;
  height: 128px;
}
.responsive-mobile-ecommerce-inner2 {
  top: 1568px;
  left: 166px;
}
.responsive-mobile-ecommerce-child4 {
  position: absolute;
  top: 1726px;
  left: 16px;
  width: 126px;
  height: 158px;
  object-fit: cover;
}
.glazed-stoneware-plate-container1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 178px;
  height: 43px;
}
.b44,
.group-child98 {
  position: absolute;
  left: 0;
}
.b44 {
  top: 91px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 71px;
  height: 36px;
}
.group-child98 {
  top: 57px;
  width: 90.4px;
  height: 15.1px;
}
.glazed-stoneware-plate-group {
  position: absolute;
  top: 1741px;
  left: 165px;
  width: 178px;
  height: 127px;
}
.responsive-mobile-ecommerce-child5 {
  position: absolute;
  top: 4486px;
  left: 515px;
  background-color: var(--color-black);
  width: 85px;
  height: 50px;
}
.vector-icon13 {
  position: absolute;
  top: 4503px;
  left: 546px;
  width: 21px;
  height: 16.5px;
}
.sign-up-for {
  position: absolute;
  top: 0;
  left: 0;
}
.subscribe1 {
  text-transform: capitalize;
}
.and-promotions {
  margin: 0;
  text-transform: lowercase;
}
.subscribe-for-the-container1 {
  position: absolute;
  top: 44px;
  left: 0;
  font-size: var(--font-size-lg);
}
.enter-your-e-mail-container2 {
  position: absolute;
  top: 15px;
  left: 14.6px;
  display: inline-block;
  width: 202.8px;
  opacity: 0.5;
}
.group-child99 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 260px;
  height: 50px;
}
.enter-your-e-mail-address-container {
  position: absolute;
  top: 107px;
  left: 1px;
  width: 260px;
  height: 50px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.group-child100 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 85px;
  height: 50px;
}
.vector-icon14 {
  position: absolute;
  top: 17px;
  left: 32px;
  width: 21px;
  height: 16.5px;
}
.rectangle-parent32 {
  position: absolute;
  top: 107px;
  left: 261px;
  width: 85px;
  height: 50px;
}
.sign-up-for-the-newsletter-parent {
  position: absolute;
  top: 1996px;
  left: 15px;
  width: 346px;
  height: 157px;
  font-size: var(--font-size-xl);
}
.responsive-mobile-ecommerce-child6 {
  position: absolute;
  top: 2229px;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 377px;
  height: 693px;
}
.urban-outfitters8 {
  position: absolute;
  top: 2269px;
  left: 47px;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.k4 {
  text-transform: uppercase;
}
.king-street-melbourne-container4 {
  top: 38px;
  left: 0;
  display: inline-block;
  width: 312px;
}
.b45,
.contacturbanoutfitterscom4,
.king-street-melbourne-container4 {
  position: absolute;
  line-height: 22px;
}
.contacturbanoutfitterscom4 {
  top: 76px;
  left: 0;
  display: inline-block;
  width: 312px;
}
.b45 {
  top: 0;
  left: 22px;
}
.parent7,
.vector-icon15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 17.8px;
  height: 17.8px;
}
.parent7 {
  left: 128px;
  width: 57px;
  height: 22px;
  font-size: var(--font-size-xl);
}
.king-street-melbourne-3000-parent2,
.responsive-mobile-ecommerce-inner3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 312px;
  height: 98px;
}
.responsive-mobile-ecommerce-inner3 {
  top: 2366px;
  left: 31px;
  text-align: center;
  color: var(--color-white);
}
.compared-items4,
.shipping-detail4,
.wishlist-items4,
.your-cart4,
.your-orders4 {
  position: absolute;
  top: 2528px;
  left: 145px;
  text-transform: uppercase;
  color: var(--color-white);
  text-align: center;
}
.compared-items4,
.shipping-detail4,
.wishlist-items4,
.your-orders4 {
  top: 2591px;
  left: 135px;
}
.compared-items4,
.shipping-detail4,
.wishlist-items4 {
  top: 2655px;
  left: 120px;
}
.shipping-detail4,
.wishlist-items4 {
  top: 2719px;
  left: 126px;
}
.shipping-detail4 {
  top: 2783px;
}
.responsive-mobile-ecommerce-child7 {
  position: absolute;
  top: 2921px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 377px;
  height: 38px;
}
.urban-outfitters9 {
  position: absolute;
  top: 2932px;
  left: 68px;
  font-size: var(--font-size-sm);
  font-weight: 300;
  color: var(--color-white);
  display: flex;
  align-items: flex-end;
  width: 240px;
}
.ant-designtwitter-outlined-icon4 {
  position: absolute;
  top: 0;
  left: 82.2px;
  width: 19.9px;
  height: 19.9px;
  overflow: hidden;
}
.ant-designinstagram-filled-icon4 {
  left: 174.5px;
  width: 19.9px;
  overflow: hidden;
}
.ant-designinstagram-filled-icon4,
.vaadinyoutube-icon4,
.vector-icon16 {
  position: absolute;
  top: 0;
  height: 19.9px;
}
.vaadinyoutube-icon4 {
  left: 266.7px;
  width: 19.9px;
  overflow: hidden;
}
.vector-icon16 {
  left: 0;
  width: 9.6px;
}
.ant-designtwitter-outlined-parent2 {
  position: absolute;
  top: 2853px;
  left: 44px;
  width: 286.7px;
  height: 19.9px;
}
.group-child101,
.responsive-mobile-ecommerce-child8 {
  position: absolute;
  top: 1910.8px;
  left: 147px;
  width: 66px;
  height: 8.3px;
}
.group-child101 {
  top: 2px;
  left: 320px;
  width: 26px;
  height: 16px;
}
.group-child102,
.group-child103 {
  position: absolute;
  top: 1px;
  left: 265px;
  width: 15px;
  height: 17.3px;
}
.group-child103 {
  height: 83.68%;
  width: 3.82%;
  top: 8.95%;
  right: 35%;
  bottom: 7.37%;
  left: 61.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.urban-outfitters-parent2 {
  position: absolute;
  top: 21px;
  left: 14px;
  width: 346px;
  height: 19px;
}
.responsive-mobile-ecommerce {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2959px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-roboto);
}
