.moody-studio2 {
  position: absolute;
  top: 34px;
  left: 82px;
  font-size: var(--font-size-9xl);
}
.group-icon6,
.single-product-page-child,
.single-product-page-item {
  position: absolute;
  top: 86px;
  left: 82px;
  max-height: 100%;
  width: 1280px;
}
.group-icon6,
.single-product-page-item {
  top: 181px;
}
.group-icon6 {
  height: 84.12%;
  width: 72.94%;
  top: 12.65%;
  right: 17.65%;
  bottom: 3.24%;
  left: 9.41%;
  max-width: 100%;
  overflow: hidden;
}
.group-child47 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-sandybrown);
}
.b34 {
  position: absolute;
  height: 66.89%;
  width: 33.11%;
  top: 12.16%;
  left: 31.76%;
  display: inline-block;
}
.ellipse-container {
  position: absolute;
  height: 43.53%;
  width: 43.53%;
  top: 56.47%;
  right: 8.53%;
  bottom: 0;
  left: 47.94%;
}
.bibucket-frame,
.bibucket2 {
  position: absolute;
  width: 34px;
  height: 34px;
}
.bibucket2 {
  top: 0;
  left: 0;
  overflow: hidden;
}
.bibucket-frame {
  top: 28px;
  left: 1263px;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
}
.single-product-page-inner {
  position: absolute;
  top: 32px;
  left: 1204px;
  width: 22.2px;
  height: 29.6px;
}
.group-icon7,
.vector-icon10 {
  position: absolute;
  top: 34px;
  left: 1334px;
  width: 29.4px;
  height: 27.6px;
}
.vector-icon10 {
  top: 35px;
  left: 1140px;
  width: 27px;
  height: 27px;
}
.home2 {
  position: absolute;
  top: 0;
  left: 0;
}
.accessories2,
.brand2,
.store2 {
  position: absolute;
  top: 0;
  left: 115px;
}
.accessories2,
.brand2 {
  left: 234px;
}
.brand2 {
  left: 408px;
}
.about-us2,
.news2,
.pages2 {
  position: absolute;
  top: 0;
  left: 530px;
}
.about-us2,
.news2 {
  left: 649px;
}
.news2 {
  left: 795px;
}
.contact-us2,
.home-group {
  position: absolute;
  top: 0;
  left: 909px;
}
.home-group {
  top: 124px;
  left: 194px;
  width: 1006px;
  height: 19px;
}
.homepage-brand-hm1 {
  position: absolute;
  top: 224px;
  left: 488px;
  font-size: var(--font-size-lg);
  text-transform: lowercase;
}
.group-child48 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslategray);
  width: 1440px;
  height: 447px;
}
.urban-outfitters6 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-9xl);
}
.lorem-ipsum-dolor12 {
  position: absolute;
  top: 74px;
  left: 2px;
  line-height: 22px;
  color: var(--color-gray-500);
  display: inline-block;
  width: 312px;
}
.k3 {
  text-transform: uppercase;
}
.ing3 {
  text-transform: lowercase;
}
.b35,
.contacturbanoutfitterscom3,
.king-street-melbourne-container3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 22px;
  display: inline-block;
  width: 312px;
}
.b35,
.contacturbanoutfitterscom3 {
  top: 30px;
}
.contacturbanoutfitterscom3 {
  top: 60px;
}
.king-street-melbourne-3000-parent1 {
  position: absolute;
  top: 159px;
  left: 2px;
  width: 312px;
  height: 82px;
}
.group-child49,
.urban-outfitters-parent1 {
  position: absolute;
  top: 50px;
  left: 72px;
  width: 314px;
  height: 241px;
}
.group-child49 {
  top: 443px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1440px;
  height: 52px;
}
.urban-outfitters7 {
  position: absolute;
  top: 461px;
  left: 589px;
  font-size: var(--font-size-sm);
  font-weight: 300;
  display: flex;
  align-items: flex-end;
  width: 262.7px;
}
.ant-designtwitter-outlined-icon3 {
  position: absolute;
  top: 0;
  left: 82.2px;
  width: 19.9px;
  height: 19.9px;
  overflow: hidden;
}
.ant-designinstagram-filled-icon3 {
  left: 174.5px;
  width: 19.9px;
  overflow: hidden;
}
.ant-designinstagram-filled-icon3,
.vaadinyoutube-icon3,
.vector-icon11 {
  position: absolute;
  top: 0;
  height: 19.9px;
}
.vaadinyoutube-icon3 {
  left: 266.7px;
  width: 19.9px;
  overflow: hidden;
}
.vector-icon11 {
  left: 0;
  width: 9.6px;
}
.ant-designtwitter-outlined-parent1 {
  position: absolute;
  top: 346px;
  left: 74px;
  width: 286.7px;
  height: 19.9px;
}
.group-child50 {
  position: absolute;
  top: 234px;
  left: 960px;
  max-height: 100%;
  width: 296px;
}
.from-the-blog3 {
  position: absolute;
  top: 50px;
  left: 961px;
}
.lorem-ipsum-dolor13 {
  position: absolute;
  top: 38px;
  left: 0;
  line-height: 22px;
  font-weight: 300;
  display: inline-block;
  width: 312px;
}
.may6,
.parent5 {
  position: absolute;
  top: 8px;
  left: 33px;
  font-size: var(--font-size-sm);
}
.parent5 {
  top: 0;
  left: 0;
  width: 60px;
  height: 28px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-500);
}
.comments6 {
  position: absolute;
  top: 91px;
  left: 2px;
  font-size: var(--font-size-sm);
  opacity: 0.5;
}
.lorem-ipsum-dolor-sit-amet-co-parent4 {
  position: absolute;
  top: 94px;
  left: 960px;
  width: 312px;
  height: 107px;
}
.lorem-ipsum-dolor14 {
  position: absolute;
  top: 39px;
  left: 0;
  line-height: 22px;
  font-weight: 300;
  display: inline-block;
  width: 312px;
}
.parent6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 28px;
}
.comments7 {
  position: absolute;
  top: 92px;
  left: 2px;
  font-size: var(--font-size-sm);
  opacity: 0.5;
}
.lorem-ipsum-dolor-sit-amet-co-parent5 {
  position: absolute;
  top: 268px;
  left: 960px;
  width: 312px;
  height: 108px;
}
.shopping3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-base);
}
.your-cart3,
.your-orders3 {
  position: absolute;
  top: 53px;
  left: 0;
  font-weight: 300;
}
.your-orders3 {
  top: 85px;
}
.compared-items3,
.shipping-detail3,
.wishlist-items3 {
  position: absolute;
  top: 117px;
  left: 0;
  font-weight: 300;
}
.shipping-detail3,
.wishlist-items3 {
  top: 149px;
}
.shipping-detail3 {
  top: 181px;
}
.more-link-parent1,
.shopping-parent1 {
  position: absolute;
  top: 50px;
  left: 513px;
  width: 103px;
  height: 197px;
  font-size: var(--font-size-sm);
}
.more-link-parent1 {
  left: 744px;
  width: 88px;
}
.rectangle-parent10,
.single-product-page-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 495px;
}
.single-product-page-inner1 {
  top: 2630px;
  color: var(--color-white);
}
.single-product-page-child1,
.single-product-page-child2 {
  position: absolute;
  top: 288px;
  left: 512px;
  width: 416px;
  height: 572px;
  object-fit: cover;
}
.single-product-page-child2 {
  left: 72px;
}
.checked-duvet-cover1,
.div14 {
  position: absolute;
  top: 288px;
  left: 952px;
  font-size: var(--font-size-9xl);
  font-weight: 500;
  display: inline-block;
  width: 367px;
  height: 65px;
}
.div14 {
  top: 353px;
  font-size: var(--font-size-5xl);
  width: 105px;
  height: 25px;
}
.light-khaki-greenwhite {
  margin-block-start: 0;
  margin-block-end: 6px;
}
.light-khaki-greenwhite-container {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
  width: 377px;
  height: 25px;
}
.group-child51 {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 72px;
  object-fit: cover;
}
.group-child52,
.rectangle-parent11 {
  position: absolute;
  left: 0;
  width: 53px;
  height: 72px;
}
.group-child52 {
  top: 0;
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
}
.rectangle-parent11 {
  top: 41px;
}
.light-khaki-greenwhite-checks-parent {
  position: absolute;
  top: 407px;
  left: 952px;
  width: 377px;
  height: 113px;
  font-size: var(--font-size-lg);
  color: var(--color-black);
}
.single-product-page-child3 {
  position: absolute;
  top: 610px;
  left: 952px;
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 416px;
  height: 54px;
}
.single-product-page-child4 {
  position: absolute;
  top: 677px;
  left: 952px;
  background-color: var(--color-darkslategray);
  width: 416px;
  height: 54px;
}
.add-to-shopping {
  position: absolute;
  top: 695px;
  left: 1072px;
  text-transform: uppercase;
  color: var(--color-white);
  cursor: pointer;
}
.elect-size {
  text-transform: capitalize;
}
.select-size {
  position: absolute;
  top: 628px;
  left: 975px;
}
.single-product-page-child5 {
  position: absolute;
  top: 634px;
  left: 1327px;
  width: 12px;
  height: 6px;
}
.single-product-page-child6 {
  position: absolute;
  top: 989px;
  left: 1330px;
  width: 6px;
  height: 12px;
  object-fit: contain;
}
.group-child53 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f0efed;
  width: 856px;
  height: 309px;
  opacity: 0.4;
}
.conscious1 {
  margin-block-start: 0;
  margin-block-end: 14px;
  font-weight: 300;
}
.twin-duvet-cover {
  line-height: 28px;
}
.twin-duvet-cover-set-in-soft {
  margin-block-start: 0;
  margin-block-end: 14px;
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray);
}
.blank-line1 {
  font-weight: 300;
  font-family: var(--font-roboto);
}
.blank-line {
  margin-block-start: 0;
  margin-block-end: 14px;
}
.composition {
  color: var(--color-darkslategray);
}
.span {
  color: var(--color-black);
}
.cotton-50-lyocell {
  color: var(--color-gray-400);
}
.art-no-0643448004 {
  margin: 0;
}
.conscious-twin-duvet-container {
  position: absolute;
  top: 57px;
  left: 78px;
  display: inline-block;
  width: 700px;
}
.rectangle-parent12,
.single-product-page-inner2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 856px;
  height: 309px;
}
.single-product-page-inner2 {
  top: 1538px;
  left: 80px;
  color: #da0909;
}
.group-child54,
.group-child55 {
  position: absolute;
  top: 236px;
  left: 1363px;
  width: 22px;
  height: 43px;
  object-fit: contain;
}
.group-child55 {
  left: 0;
}
.also-you-may {
  position: absolute;
  top: 0;
  left: 48px;
  font-weight: 500;
}
.group-child56 {
  position: absolute;
  top: 0;
  left: 0;
  width: 306px;
  height: 365px;
  object-fit: cover;
}
.flannel-duvet-cover-container1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 229px;
  height: 17px;
}
.b36,
.group-child57 {
  position: absolute;
  left: 0;
}
.b36 {
  top: 65px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 71px;
  height: 25px;
}
.group-child57 {
  top: 36px;
  width: 46px;
  height: 10px;
}
.flannel-duvet-cover-set-group {
  position: absolute;
  top: 389px;
  left: 0;
  width: 229px;
  height: 90px;
}
.group-child60,
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 328px;
  width: 306px;
  height: 479px;
}
.group-child60 {
  left: 0;
  background-color: var(--color-silver);
  height: 365px;
}
.group-child64,
.group-child66,
.rectangle-parent15 {
  position: absolute;
  top: 0;
  left: 660px;
  width: 306px;
  height: 479px;
}
.group-child64,
.group-child66 {
  left: 992px;
  height: 365px;
}
.group-child64 {
  background-color: var(--color-silver);
}
.group-child66 {
  object-fit: cover;
}
.washed-linen-pillowcase-group {
  position: absolute;
  top: 389px;
  left: 992px;
  width: 229px;
  height: 90px;
}
.rectangle-parent13 {
  position: absolute;
  top: 68px;
  left: 48px;
  width: 1298px;
  height: 479px;
  font-size: var(--font-size-lg);
}
.vector-container {
  position: absolute;
  top: 1967px;
  left: 27px;
  width: 1385px;
  height: 547px;
  font-size: var(--font-size-5xl);
}
.not-available-in,
.vector-icon12 {
  position: absolute;
  top: 3px;
  left: 26px;
}
.vector-icon12 {
  top: 0;
  left: 0;
  width: 15px;
  height: 20px;
}
.not-available-in-stores-parent {
  position: absolute;
  top: 554px;
  left: 952px;
  width: 184px;
  height: 22px;
  color: var(--color-gray-400);
}
.single-product-page-child7 {
  position: absolute;
  top: 906px;
  left: 80px;
  width: 848px;
  height: 586px;
  object-fit: cover;
}
.single-product-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3125px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-roboto);
}
